body{ 
    background-image: url("https://pic.imgdb.cn/item/618ba95b2ab3f51d91ffb9ca.jpg");
}


.panel-cover {
	position: fixed;
	z-index: 900;
	display: block;
	width: 100%;
	height: 100%;
	max-width: none;
	background-size: cover;
}