* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

ul > li {
	margin-left: 1.25em;
}
/*-----------------------------------------------*/
header {
    background: rgb(255, 174, 201);
	padding: 1rem;
	display: flex;
}

header > .home {
	margin-left: calc((100vw -300px) * 0.1);	
}

header > .about {
	flex: 1;
	text-align: right;
	margin-right: calc((100vw -300px) * 0.1);
}

header a {
	text-decoration:none;
	font-size: 2rem;
	font-family:'YouYuan';
	font-weight:bold;
}

main {
	min-height: calc(100vh - 7.161875rem);
	padding: 1rem;
}

footer{
	padding: 0.8rem;
    background: rgb(189, 255, 198);
	text-align: center;
}
/*-----------------------------------------------*/
.panel {
	border: 1px;
	border-color: rgb(175, 239, 255);
	border-style: solid;
	border-radius: 0.4rem;
}

.panel-title {
	background-color: rgb(175, 239, 255);
	border-top-left-radius: 0.4rem;
	border-top-right-radius: 0.4rem;
	text-align: center;
	font-size: 2rem;
	font-weight:bold;
}

.panel-content {
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	align-items:center;
}

.panel-cell {
	background-color: rgb(175, 239, 255);
	border-radius: 0.2rem;
	width: 10rem;
	margin: 1rem;
	min-height: 5rem;
	display: table;
}

.panel-cell > a {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-size: 1.25rem;
}
/*-----------------------------------------------*/
.article-panel {
	border: 1px;
	border-color: rgb(175, 239, 255);
	border-style: solid;
	border-radius: 0.4rem;
	max-width: 64rem;
	margin: auto;
}

.article-panel-title {
	background-color: rgb(175, 239, 255);
	border-top-left-radius: 0.4rem;
	border-top-right-radius: 0.4rem;
	text-align: center;
	font-size: 2rem;
	font-weight:bold;
}

.article-panel-content {
	padding: 1rem;
}

.article-panel-footer {
	background-color: rgb(175, 239, 255);
	border-bottom-left-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
	text-align: center;
	font-size: 2rem;
	font-weight:bold;
}
/*-----------------------------------------------*/
.article-panel heimu {
	color: #252525;
    text-shadow: none;
	background-color: #252525;
}
 
.article-panel heimu:hover, heimu:active {
	color: white;
}

.article-panel .bg-grey {
	background-color: gainsboro;
}

.article-panel .radius {
	border-radius: 0.2em;
}

.article-panel .code {
	overflow: auto;
	background-color: rgb(246, 246, 246);
	border-radius: 0.2rem;
	padding: 0.5rem;
}

.article-panel img {
	max-width: 100%;
}

.article-panel a {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.article-panel kbd {
    padding: .2rem .4rem;
    font-size: .875em;
    color: #fff;
    background-color: #212529;
    border-radius: .2rem;
	font-family: monospace, 'Courier New', Courier ;
}